# Copyright (c) 2025
# SPDX-License-Identifier: Apache-2.0
# Coskun ERGAN <coskunergan@gmail.com>

mainmenu "ESP32 Wifi NAT Router Demo"

if WIFI
config NET_IPV4_FORWARDING
    bool "IPv4 forwarding"
    default y
    help
      Enable IPv4 forwarding for AP-STA mode.

config NET_CONFIG_MY_IPV4_ADDR
	string "CONFIG_NET_CONFIG_MY_IPV4_ADDR - Network IP"
	default "192.168.1.77"		  

config NET_CONFIG_MY_IPV4_NETMASK
	string "CONFIG_NET_CONFIG_MY_IPV4_NETMASK - Network Mask"
	default "255.255.255.0"	

config NET_CONFIG_MY_IPV4_GW
	string "CONFIG_NET_CONFIG_MY_IPV4_GW - Network GW"
	default "192.168.1.1"	

config WIFI_SAMPLE_AP_IP_ADDRESS
	string "CONFIG_WIFI_SAMPLE_AP_IP_ADDRESS - Network IP"
	default "192.168.4.1"	

config WIFI_SAMPLE_AP_NETMASK
	string "CONFIG_WIFI_SAMPLE_AP_NETMASK - Network NETMASK"
	default "255.255.255.0"	

config WIFI_SAMPLE_SSID
	string "WIFI SSID - Network name"
	default "router_ssid"

config WIFI_SAMPLE_PSK
	string "WIFI PSK - Network password key"
	default "router_pass"

config WIFI_SAMPLE_AP_SSID
	string "WIFI AP SSID - Network name"
	default "NAT_ROUTER_AP"

config WIFI_SAMPLE_AP_PSK
	string "WIFI AP PSK - Network password key"
	default "deneme123"	

endif # WIFI

source "Kconfig.zephyr"
